<div class="app-background-image">
  <div class="login-main">
    <form nz-form novalidate [formGroup]="loginForm" class="login-form" (ngSubmit)="submit()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your username!">
          <nz-input-group nzPrefixIcon="user">
            <input appAutofocus type="text" nz-input formControlName="userName" placeholder="Username" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
          <nz-input-group nzPrefixIcon="lock">
            <input  type="password" nz-input formControlName="password" placeholder="Password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <div nz-row class="login-form-margin">
        <div nz-col [nzSpan]="12">
          <label nz-checkbox formControlName="rememberMe">
            <span>Remember me</span>
          </label>
        </div>
      </div>
      <button nz-button class="login-form-button login-form-margin" [disabled]="islogging" [nzType]="'primary'">Log
        in</button>
    </form>
  </div>
</div>
