<nz-card [nzBordered]="false" *ngIf="toogle">
    <form nz-form [formGroup]="form">
        <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="embroiderCode">Code</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="codeTpl">
                <input autocomplete="off" nz-input formControlName="embroiderCode" id="embroiderCode" />
                <ng-template #codeTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">Code is required.
                    </ng-container>
                    <ng-container *ngIf="control.hasError('duplicate')">Code is duplicate.
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="name">Name</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="nameTpl">
                <input autocomplete="off" nz-input formControlName="name" id="name" />
                <ng-template #nameTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">Name is required.
                    </ng-container>
                    <ng-container *ngIf="control.hasError('duplicate')">Name is duplicate.
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="phone">Phones</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="phoneTpl">
                <input autocomplete="off" nz-input formControlName="phone" id="phone" />
                <ng-template #phoneTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">Phones is required.
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="address">Address</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="addressTpl">
                <input autocomplete="off" nz-input formControlName="address" id="address" />
                <ng-template #addressTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">Address is required.
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="openingBalance">Opening Balance</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="openingBalanceTpl">
                <nz-input-number autocomplete="off" nz-input formControlName="openingBalance" id="openingBalance" ></nz-input-number>
                <ng-template #openingBalanceTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">Opening Balance is required.
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="balance">Balance</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="balanceTpl">
                <input autocomplete="off" nz-input formControlName="balance" readonly id="balance" />
                <ng-template #balanceTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">Balance is required.
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row class="register-area">
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
                <div style="display: flex;flex-wrap: wrap;">
                    <div style="padding-right: 1rem;">
                        <button nz-button nzType="primary" (click)="addEmbroider()">Save</button>
                    </div>
                    <div>
                        <button nz-button nzType="primary" (click)="cancel()" nzDanger>Cancel</button>
                    </div>
                </div>
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-card>
<dx-data-grid id="gridContainer" height="70%" #clientGrid [dataSource]="dataSource" [showBorders]="true"
    [remoteOperations]="true" (onToolbarPreparing)="onToolbarPreparing($event)" [columnMinWidth]="100"
    [allowColumnResizing]="true">

    <dxo-scrolling columnRenderingMode="virtual" mode="standard"></dxo-scrolling>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxi-column dataField="embroiderCode" [minWidth]="150" dataType="string">
    </dxi-column>
    <dxi-column dataField="name" [minWidth]="150" dataType="string">
    </dxi-column>
    <dxi-column dataField="phone" [minWidth]="150" dataType="string">
    </dxi-column>
    <dxi-column dataField="address" [minWidth]="150" dataType="string">
    </dxi-column>
    <dxi-column dataField="openingBalance">
    </dxi-column>
    <dxi-column dataField="balance">
    </dxi-column>
    <dxi-column type="buttons" cellTemplate="cellTemplate">
    </dxi-column>
    <div *dxTemplate="let data of 'cellTemplate'">
        <div style="display: inline;">
            <div style="padding-right: 5px;">
                <a href="javascript:void(0);" (click)="edit(data.row.data)">Edit</a>
            </div>
            <div>
                <a href="javascript:void(0);" (click)="delete(data.row.data)" style="color: #ff4d4f;">Delete</a>
            </div>
        </div>
    </div>
    <dxo-paging [pageSize]="12"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[12, 20, 30]"></dxo-pager>
</dx-data-grid>